<div class="container"></br></br>
  <h2 class="text-left"><b>Listing All Admin Records</b></h2>
  <div class="row mx-md-n5">
    <button type="button" class="btn btn-secondary" style="padding: 0;margin-top:-35px;margin-left:90%;height:30px;border-radius: 16px; color:black;font-size:12px;width: 105px;">
      <%= link_to 'Add New Admin', :controller => :users, :action => "admin_registration_form" %> </button>
  </div>
  <hr>
  <table class="table table-bordered" style="margin-top:1%;">
    <thead class="thead-dark">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Contact</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.first_name %></td>
        <td><%= admin.last_name %></td>
        <td><%= admin.contact_number %></td>
        <td><%= admin.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
