<div class="container border w-50" style="height: 50%; margin-top: 6%;">
  	<% form_tag({:action => 'discharge_record', :id => params[:id]}, {:class => 'user_r'}) do -%>
     	<div class="text-center">
      	<h3>Create Record</h3>
    	</div>
      <!--  -->
      <hr></br>
      <!--  -->
    	<div class="form-row">
      	<div class="form-group col-md-6">
        		<label >Department Name</label>
        		<%= text_field_tag :department_name, params[:department_name], :value => @bed.room.department.department_name, :disabled => true, :class => "form-control"%>
      	</div>
      	<div class="form-group col-md-6">
        		<label >Patient Name</label>
        		<%= text_field_tag :patient, params[:patient], :value => @record.patient.first_name+" "+@record.patient.middle_name+" "+@record.patient.last_name, :disabled => true, :class => "form-control" %>
      	</div>
      </div>
      <!--  -->
      </br></br>
      <!--  -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Discharging Date</label>
          <%= text_field_tag :date, params[:date], :value => Time.now.strftime("%Y-%m-%d"), :disabled => true%>
        </div>
        <div class="form-group col-md-6">
          <label >Discharging Time</label>
          <%= text_field_tag :time, params[:time], :value => Time.now.strftime("%H:%M %p"), :disabled => true%>
        </div>
      </div>
      <!--  -->
      </br></br></br>
      <!--  -->
      <%= submit_tag "Create Record", :name => nil, :class => "btn btn-primary recbtn" %>
    <% end %>
</div>
