</br></br></br>
<div class="bs-example">
  </br></br>
  <h2 class="text-left"><b>Listing All Recommendations</b></h2>
  <div class="row mx-md-n5">
  </div><hr>
  <table class="table table-striped" style="margin-top: 1%;">
    <thead class="thead-dark">
      <tr>
        <th>SI:No</th>
        <th>Patient condition</th>
        <th>Medication</th>
        <th>Recommended</th>
      </tr>
    </thead>
    <tbody>
      <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%=h recommendation.id %></td>
        <td><%= PatientCondition.find_patient_condition(recommendation.patient_condition) %></td>
        <td><%=h recommendation.medication %></td>
        <td><%= recommendation.find_option(recommendation.is_recommended) %></td>
        <td><%= link_to 'Alot the Room', :controller => :admitted_records, :action => "new_record", :id => recommendation.id %></td>
        <td><%= link_to 'Destroy', :confirm => 'Are you sure?', :action => "delete_comment", :id => recommendation.id %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
