<h1>Listing comments</h1>

<table>
  <tr>
    <th>Patient condition</th>
    <th>Medication</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.patient_condition %></td>
    <td><%=h comment.medication %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>