<div class="container my-5" style="width:35%; border-radius:10px;">
  <div class="card-body bg-secondary rounded">
    <h5 class="card-title text-center">Admin Registration</h5><hr>
    <% form_for @admin, :url => {:controller => :users, :action => 'signup', :id => "1", :class => "form-signin"} do |f| -%>
    <%= f.error_messages %>
      <div class="form-group">
        <%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control" %>  </br>
      </div>
      <div class="form-group">
        <%= f.text_field :middle_name, :placeholder => "Middle Name", :class => "form-control"%>  </br>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name, :placeholder => "Last Name", :class => "form-control"%>  </br>
      </div>
      <div class="form-group">
        <%= f.text_field :email, :placeholder => "Email", :class => "form-control"%>  </br>
      </div>
      <%= f.submit "Create Admin", :name => nil, :class => "btn btn-primary", :style=>"margin-left: 48%; height: 5%; width: 50%; font-size: 15px; padding: 0;" %>
    <% end %>
  </div>
</div>
