<div class="table-responsive panel">
    <% @index = 0%>
    <% @appointments.each do |a| %>
        <p>
            <div class="container border rounded shadow mb-4 border-secondary w-100 fontsize" style="text-decoration: none; height: 10%" data-toggle="collapse" href="#collapseExample<%=@index%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                <%= label_tag "Dept:" %>
                <%=h depFind(a) %> &nbsp &nbsp
                <%= label_tag "Dr:" %>
                <%=h docFind(a) %> &nbsp &nbsp
                <%= label_tag "Date:" %>
                <%=h dateFind(a) %> &nbsp &nbsp</br>
                <%= label_tag "Time:" %>
                <%=h timeFind(a) %> &nbsp &nbsp
                <% if a.is_diogonised == 1%>
                    <% @status = "Diognised"%>
                <% else%>
                    <% @status = "Not Diognised"%>
                <% end %>
                <%= label_tag "Status: "+@status %>
            </div>
        </p>
    <% @index = @index+1%>
    <% end %>
</div>