<% if @user.nil?%>
    <h3 style="color: red; margin-left: 40%; margin-top: 20%;"> Invalid Patient Id<h3>
<%else%>
<div class="container border rounded shadow p-4 mb-4 border-secondary w-50" style="margin-top:5%;">
<div class="row panel panel-success" style="margin-top:2%;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <center>
                                        <span class="text-left" style="margin-left: 5px;">
                                        <%= image_tag Photo.findImage(@user.id), :class => "img-responsive img-thumbnail"%>
                                    </span></center>
                                    <div class="panel">
                                        <table class="table">
                                            <tbody>
                                                        <tr>
                                                        <td class="text-center">
                                                        </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#Details" class="text-success"><i class="fa fa-indent"></i> Details</a></li>
                                        <li><a data-toggle="tab" href="#Appointmentdetails" class="text-success"><i class="fa fa-bookmark-o"></i> Appointment Details</a></li>
                                        <li><a data-toggle="tab" href="#Reports" class="text-success"><i class="fa fa-home"></i> Reports</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="Details" class="tab-pane  active">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    <tbody>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-user"></i> First Name</td>
                                                                <td><%= @user.user_record.first_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Middle Name</td>
                                                                <td><%= @user.user_record.middle_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Last Name</td>
                                                                <td><%= @user.user_record.last_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Contact Number</td>
                                                                <td><%= @user.user_record.contact_number %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Email</td>
                                                                <td><%= @user.user_record.email %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Date Of Birth</td>
                                                                <td><%= @user.user_record.date_of_birth %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-book"></i> Nationality</td>
                                                                <td><%= @user.user_record.blood_group %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-group"></i> Gender</td>
                                                                <td><%= @user.user_record.gender %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-calendar"></i> Address</td>
                                                                <td><%= @user.user_record.address %></td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="Reports" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                              <div class="table-responsive panel">
                                            <address>
                                                      <p>Upload Reports Last, After Uploading Report Patient Profile will be Hide</p><br>
                                            </address>
                                              </div>
                                                <button class="btn btn-success btn-block"><%= link_to 'Add Report', :controller => :reports, :action => "new", :id => @user.id%></button>
                                            </div>
                                        </div>
                                        <div id="Appointmentdetails" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <% if @flag == 1 %>
                                                        <p class="control-form" style="color: red; margin-left: 30%; font-size: 19px; margin-top: 13px;">This Token is Expired...</p>
                                                        <% else %>
                                                        <% form_tag({:controller => :comments, :action => "new", :id => @appointment.id}, {:class => 'signin_form'}) do -%>
                                                                <table class="table">
                                                                <tbody>
                                                                        <tr>
                                                                            <td class="text-success"><i class="fa fa-envelope-o"></i> Patient Id</td>
                                                                            <td><%= text_field_tag :patient_id, params[:patient_id], :value => @user.user_record.id, :disabled => true%></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-success"><i class="glyphicon glyphicon-phone"></i> Slot Id</td>
                                                                            <td><%= text_field_tag :slot_id, params[:slot_id], :value => @appointment.slot_id, :disabled => true%></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-success"><i class="fa fa-flag"></i> Case</td>
                                                                            <td><%= text_area :case, params[:case], :value => @appointment.case, :disabled => true%></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-success"><i class="fa fa-user"></i> Diogonised</td>
                                                                            <% if @appointment.is_diogonised == 0%>
                                                                                <% @is_diogonised = "Not Diogonised"%>
                                                                            <% else %>
                                                                                <% @is_diogonised = "Diogonised" %>
                                                                            <% end %>
                                                                            <td><%= text_field_tag :is_diogonised, params[:is_diogonised], :value => @is_diogonised, :disabled => true%></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-success"><i class="glyphicon glyphicon-phone"></i>Patient Condition </td>
                                                                            <td><%= collection_select :patient_status, :id, PatientCondition.all, :id, :status, :class => "control-form"%></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-success"><i class="fa fa-user"></i>Medication</td>
                                                                            <td><%= text_area_tag :medication, params[:medication], :class => "control-form"%></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-success"><i class="glyphicon glyphicon-phone"></i> Recommendation To Admin</td>
                                                                            <td><%= select_tag :option, options_for_select(Patient::OPTIONS.each{|key, value|}, :class => "control-form") %></td>
                                                                        </tr>
                                                                </tbody>
                                                                </table>
                                                                <% if @flag == 0 %>
                                                                <%= submit_tag "Create Record", :name => nil, :class => "btn btn-primary upbedbtn"%>
                                                                <% end %>
                                                                <% end %>
                                                    <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.table-responsive -->
            </div>
        </div>
      </div>
<% end %>
