<div class="container border rounded shadow p-4 mb-4 border-secondary w-80" style="margin-top:5%;">
<div class="row panel panel-success" style="margin-top:2%;">
            <div class="panel-heading lead">
                <div class="row">
            </div>
            <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <center>
                                        <span class="text-left" style="margin-left: 5px;">
                                          <%= image_tag Photo.findImage(@user.id), :class => "img-responsive img-thumbnail" %>
                                    </span></center>
                                    <div class="panel">
                                        <table class="table">
                                            <tbody>
                                                        <tr>
                                                        <td class="text-center">
                                                        </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#Details" class="text-success"><i class="fa fa-indent"></i> Details</a></li>
                                    </ul><hr>
                                    <div class="tab-content">
                                        <div id="Details" class="tab-pane  active">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    <tbody>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-user"></i> First Name</td>
                                                                <td><%= @user.user_record.first_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Middle Name</td>
                                                                <td><%= @user.user_record.middle_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Last Name</td>
                                                                <td><%= @user.user_record.last_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Contact Number</td>
                                                                <td><%= @user.user_record.contact_number %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Email</td>
                                                                <td><%= @user.user_record.email %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Date Of Birth</td>
                                                                <td><%= @user.user_record.date_of_birth %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-book"></i> Bloodgroup</td>
                                                                <td><%= @user.user_record.blood_group %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-group"></i> Gender</td>
                                                                <td><%= @user.user_record.gender %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-calendar"></i> Address</td>
                                                                <td><%= @user.user_record.address %></td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.table-responsive -->
            </div>
        </div>
      </div>
