<div class="container border rounded shadow p-4 mb-4 border-secondary w-50" style="margin-top:5%;">

<div class="row panel panel-success" style="margin-top:2%;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <center>
                                        <span class="text-left" style="margin-left: 5px;">
                                        <%= image_tag findImagePatient(@user.id), :class => "img-responsive img-thumbnail"%>

                                    </span></center>

                                    <div class="panel">
                                        <table class="table">
                                            <tbody>
                                                        <tr>
                                                        <td class="text-center">

                                                        </td>
                                                    </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                </div>

                                <div class="col-lg-9 col-md-9">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#Details" class="text-success"><i class="fa fa-indent"></i> Details</a></li>
                                        <li><a data-toggle="tab" href="#Appointmentdetails" class="text-success"><i class="fa fa-bookmark-o"></i> Appointment Details</a></li>
                                        <li><a data-toggle="tab" href="#Address" class="text-success"><i class="fa fa-home"></i> Address</a></li>
                                        <li><a data-toggle="tab" href="#General" class="text-success"><i class="fa fa-info"></i> General Info</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="Details" class="tab-pane  active">

                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    <tbody>

                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-user"></i> First Name</td>
                                                                <td><%=@patient.first_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Middle Name</td>
                                                                <td><%=@patient.middle_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Last Name</td>
                                                                <td><%=@patient.last_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Contact Number</td>
                                                                <td><%=@patient.contact_number %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Email</td>
                                                                <td><%=@patient.email %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-list-ol"></i> Date Of Birth</td>
                                                                <td><%=@patient.date_of_birth %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-book"></i> Nationality</td>
                                                                <td><%=@patient.blood_group %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-group"></i> Gender</td>
                                                                <td><%=@patient.gender %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-calendar"></i> Address</td>
                                                                <td><%=@patient.address %></td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="Address" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    <tbody>

                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-home"></i> Address</td>
                                                                <td>
                                                                    <address>
                                                                        <strong>
                                                                            C-***, Amahiya </strong><br>
                                                                            Kharobar, ****** <br>
                                                                            Gorakhpur, Utter Pradesh, India<br>
                                                                    </address>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="Appointmentdetails" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <% if @flag == 1 %>
                                                        <p class="control-form" style="color: red; margin-left: 30%; font-size: 19px; margin-top: 13px;">This Token is Expired...</p>
                                                        <% else %>
                                                        <%= render :partial => "appointment_view"%>
                                                    <% end %>

                                            </div>
                                        </div>

                                        <div id="General" class="tab-pane fade">
                                            <div class="table-responsive panel">
                                                <table class="table">
                                                    <tbody>
                                                                <tr>
                                                                <td class="text-success"><i class="fa fa-university"></i> Last School</td>
                                                                <td>Pawan Mall's School</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-calendar"></i> Date of Admission</td>
                                                                <td>March 4, 2009</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-home"></i> Birth Place</td>
                                                                <td>Delhi</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-calendar"></i> Academic Year</td>
                                                                <td>2015-2016</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-medkit"></i> Medical Condition</td>
                                                                <td>Normal</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="fa fa-thumbs-up"></i> Active/Inactive</td>
                                                                <td>Student is Active</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-success"><i class="glyphicon glyphicon-time"></i> Last Editing</td>
                                                                <td>2015-08-20 09:41:56</td>
                                                            </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                <!-- /.table-responsive -->

            </div>
        </div>
      </div>
