<%= stylesheet_link_tag 'form_styles' %>
<div class="container">
  <h2><b>All Doctors</b></h2>
  <table class="table table-bordered">
    <!--  -->
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Department</th>
      </tr>
    </thead>
    <!--  -->
    <tbody>
      <% @doctors.each do |doctor| %>
      <tr>
        <td><%=doctor.first_name %></td>
        <td><%=doctor.last_name %></td>
        <td><%=doctor.contact_number %></td>
        <td><%=doctor.email %></td>
        <td><%=doctor.department.department_name %></td>
      </tr>
      <% end %>
    </tbody>
    <!--  -->
  </table>
</div>
