<p>
  <b>Id:</b>
  <%=@doctors.id %>
</p>

<p>
  <b>First Name:</b>
  <%=@doctors.first_name %>
</p>

<p>
  <b>Middle Name:</b>
  <%=@doctors.middle_name %>
</p>

<p>
  <b>Last Name:</b>
  <%=@doctors.last_name %>
</p>

<p>
  <b>Contact Number:</b>
  <%=@doctors.contact_number %>
</p>

<p>
  <b>Email:</b>
  <%=@doctors.email %>
</p>

<p>
  <b>Date Of Birth:</b>
  <%=@doctors.date_of_birth %>
</p>

<p>
  <b>Nationality:</b>
  <%=@doctors.nationality %>
</p>

<p>
  <b>Gender:</b>
  <%=@doctors.gender %>
</p>

<p>
  <b>Qualification:</b>
  <%=@doctors.qualifications %>
</p>

<p>
  <b>Experience:</b>
  <%=@doctors.experience %>
</p>

<p>
  <b>Department:</b>
  <%=@doctors.department_id %>
</p>
