<div class="container border w-50" style="height: 30%; margin-top: 6%;">
  	<% form_tag({:action => 'updateRoom', :id => @room.id}, {:class => 'user_r'}) do -%>
   	<div class="text-center">
    	<h3>Update Room</h3>
  	</div></hr></br>
  	<div class="form-row">
    	<div class="form-group col-md-6">
      		<label >Department Name</label>
      		<%= text_field_tag :department_name, params[:department_name], :value => @department.department_name, :disabled => true, :class => "form-control"%>
    	</div>
    	<div class="form-group col-md-6">
      		<label >Room Id</label>
      		<%= text_field_tag :room_id, params[:room_id], :value => @room.id, :disabled => true, :class => "form-control"%>
    	</div>
  </div></br>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >Total No of Beds</label>
      <%= text_field_tag :no_of_beds, params[:no_of_beds], :value => @room_beds, :disabled => true, :class => "form-control"%>
    </div>
    <div class="form-group col-md-6">
      <label >No of Beds To Add</label>    
    	<%= text_field_tag :no_of_beds, params[:no_of_beds], :class => "form-control" %>
    </div>
  </div></br>
  </br></br><%= submit_tag "Update Room", :name => nil, :class => "btn btn-primary" %>
<% end %>
</div>