<% form_tag({:controller => :patients, :action => 'details_view_doctor'}, {:class => 'signin_form'}) do -%>
<%= collection_select(:doctor, :id, @doctors, :id, :first_name)%>
<div class="text-center"></br></br>
</div></hr></br>
<div class="form-row">
  <div class="form-group col-md-6">
      <label >Date:</label>
      
  </div></br></br></br></br>
  <div class="form-group col-md-6">
      <label >Patient User-Id:</label>
      <%= text_field_tag :user_id, params[:user_id], :placeholder => "User-Id", :class => "inp"%> </br></br></br></br>
  </div>
  <div class="form-group col-md-6">
      <label >Patient User-Id:</label>
      <%= text_field_tag :user_id, params[:user_id], :placeholder => "User-Id", :class => "inp"%> </br></br></br></br>
  </div>
  <div class="form-group col-md-6">
      <label >Patient User-Id:</label>
      <%= text_field_tag :user_id, params[:user_id], :placeholder => "User-Id", :class => "inp"%> </br></br></br></br>
  </div>
</div>
</br></br><%=submit_tag 'Find Patient', :name => nil, :class => "btn btn-primary upbedbtn" %>
<% end %>



<!-- <% form_for(@timeslot) do |f| %>
  <%= f.error_messages %>
  <%= collection_select(:doctor, :id, Doctor.all, :id, :first_name)%>

<p>
  <%= f.label :date %><br />
  <%= f.date_select :date %>
</p>
<p>
  <%= f.label :start_time %><br />
  <%= f.time_select :start_time %>
</p>
<p>
  <%= f.label :end_time %><br />
  <%= f.time_select :end_time %>
</p>
<p>
  <%= f.label :slot_count_constant %><br />
  <%= f.time_select :slot_count_constant %>
</p>
<p>
  <%= f.submit 'Create' %>
</p>
<% end %>

<%= link_to 'Back', timeslots_path %> -->
