<% @index = 0%>
<% @timeslots.each do |timeslot| %>
<p>
  <div class="container border rounded shadow mb-4 border-secondary w-100 timeslotdvi" style="text-decoration: none;" data-toggle="collapse" href="#collapseExample<%=@index%>" role="button" aria-expanded="false" aria-controls="collapseExample">
    <%= label_tag "Department:" %>
    <%=h department(timeslot) %> &nbsp &nbsp &nbsp &nbsp

    <%=h timeslot.date %> &nbsp &nbsp
    <%=h timeslot.start_time %> &nbsp &nbsp
    <%=h timeslot.end_time %> &nbsp &nbsp
    <% if @user.user_record_type == "Admin"%>
      <%= link_to 'Show', timeslot %> &nbsp &nbsp
      <%= link_to 'Edit', edit_timeslot_path(timeslot) %> &nbsp &nbsp
      <%= link_to 'Destroy', timeslot, :confirm => 'Are you sure?', :method => :delete %>
    <% end %></br>
    <%= label_tag "Doctor:" %>
    <%=h doctor(timeslot) %> &nbsp &nbsp
  </div>
</p>
<div class="collapse" id="collapseExample<%=@index%>">
  <div class="container card-body w-100">
    <% @slots = timeslot.slots%>
    <% @slots.each do |i|%>
    <% if i.status == 0%>
      <% @color = "btn-success"%>
      <% else%>
      <% @color = "btn-secondary"%>
    <% end %>
    <button type="button" disabled class="btn <%= @color%>"><%=link_to_if @button_status == "enabled", i.time.strftime("%H:%M")%>&nbsp &nbsp</button>
    <% end%>
  </div>
</div>
<% @index = @index+1%>
<% end %>
<br />

<%= link_to 'New timeslot', new_timeslot_path %>
