<p>
  <b>Date:</b>
  <%=h @timeslot.date %>
</p>

<p>
  <b>Start time:</b>
  <%=h @timeslot.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @timeslot.end_time %>
</p>

<p>
  <b>Slot count constant:</b>
  <%=h @timeslot.slot_count_constant %>
</p>


<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
